/* Write your CSS here! */
body{
    width:6in;
    margin:auto;
    background-color: lightcyan;
}
h1 {
    text-align:center
}
h2 {
    text-align:center
}
p {
    text-align:justify;

}
img {
    display:block;
    margin:auto;
    padding-bottom:.6in
}
#mainHeading {
    color:red
}
a {
    color:red
}
.subheading {
    color:black
}
.funParagraph {
    color:green
}